@model EjemploViewComponent.Models.Components.NuevoComponenteModel

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@Model.Titulo</h5>
    <p class="card-text">@Model.Contenido</p>
    <a href="#" class="btn btn-primary">Ver mas..</a>
  </div>
</div>